.status-container{
    border:2px solid rgb(205, 205, 205);
    display: inline-block;
    width: 500px;
    height:110px;
    overflow: scroll;
    position: absolute;
    top: 12%;
    left: 20%;
    border-radius: 14px;
    background-color: white;
}
.status-element{
    margin: 6px -7px 2px 12px;
    display: flex;
}
.status-container::-webkit-scrollbar{
    display: none;

}